body {
    background: url("http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4135.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: steelblue;
    
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}
